<!DOCTYPE html>

<html>
<head>
	<!--====== Required meta tags ======-->
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!--====== Title ======-->
	<title> @ViewBag.Title - IT Solutions & Digital Services HTML5 Template || Home One </title>
	<!--====== Favicon Icon ======-->
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="img/png" />
	<!--====== Bootstrap css ======-->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<!--====== Slick Slider ======-->
	<link rel="stylesheet" href="assets/css/slick.css" />
	<!--====== Magnific ======-->
	<link rel="stylesheet" href="assets/css/magnific-popup.css" />
	<!--====== Animate CSS ======-->
	<link rel="stylesheet" href="assets/css/animate.min.css" />
	<!--====== Font Awesome ======-->
	<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
	<!--====== Main Css ======-->
	<link rel="stylesheet" href="assets/css/style.css" />
</head>
<body>
	<!--====== Preloader Start ======-->
	<div id="preloader">
		<div class="loader-cubes">
			<div class="loader-cube1 loader-cube"></div>
			<div class="loader-cube2 loader-cube"></div>
			<div class="loader-cube4 loader-cube"></div>
			<div class="loader-cube3 loader-cube"></div>
		</div>
	</div>
	<!--====== Preloader End ======-->
	<!--====== Header Part Start ======-->
	<partial name="Partials/_HeaderPartial" />
	<!--====== Header Part End ======-->
	@RenderBody()
	<!--====== Back to top start ======-->
	<div class="back-to-top">
		<a href="#"> <i class="fas fa-arrow-up"></i> </a>
	</div>
	<!--====== Back to top start ======-->
	<!--====== Footer PART START ======-->
	<partial name="Partials/_FooterPartial" />
	<!--====== Footer PART ENDS ======-->
	<!--====== Jquery ======-->
	<script src="assets/js/jquery-1.12.4.min.js"></script>
	<!--====== Bootstrap ======-->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!--====== Slick slider ======-->
	<script src="assets/js/slick.min.js"></script>
	<!--====== Magnific ======-->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!--====== Isotope ======-->
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<!--====== Imagesloaded ======-->
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<!--====== Inview ======-->
	<script src="assets/js/jquery.inview.min.js"></script>
	<!--====== Easy Pie Chart ======-->
	<script src="assets/js/jquery.easypiechart.min.js"></script>
	<!--====== Syotimer ======-->
	<script src="assets/js/jquery.syotimer.min.js"></script>
	<!--====== Wow ======-->
	<script src="assets/js/wow.min.js"></script>
	<!--====== Main JS ======-->
	<script src="assets/js/main.js"></script>
</body>
</html>
