@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="col-3">
        <a asp-controller="Category" asp-action="Index" class="btn btn-block btn-dark">CategoryController</a>
        <a asp-controller="Product" asp-action="Index" class="btn btn-block btn-dark">ProductController</a>
    </div>
</div>

