
@{
    ViewBag.Title = "Reset Password";
}

<!--====== Page Title start ======-->
<partial name="Partials/_PageTitlePartial" />
<!--====== Page Title End ======-->
<!--====== Shoping Checkout Start  ======-->
<section class="shoping-checkout-area section-gap">
    <div class="container">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div class="row">
                <div class="col-lg-12">
                    <div class="billing-details">
                        <h3 class="title">Kayıt Formu</h3>
                        <div class="text-info">@ViewBag.Message</div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email"> </label>
                                    <input type="email" name="email" id="email" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="payment-box mt-38">
                                    <input type="submit" class="main-btn" value="Şifremi Unuttum" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!--====== Shoping Checkout End ======-->
@section Styles
    {
    <style>
        input {
            border: solid 1px #e3eeff;
            height: 50px;
            padding: 0 15px;
        }
    </style>

}