@model CategoryViewModel


<form id="frm-add">
    <div class="form-group row">
        <div class="col-md-2">
            <label asp-for="CategoryName"></label><br /><br /><br />
            <label asp-for="Description"></label>
        </div>
        <div class="col-md-9">
            <input asp-for="CategoryName" /> <br />
            <span asp-validation-for="CategoryName" style="color:red"></span><br /><br />
            <input asp-for="Description" /> <br />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" name="Add" class="btn btn-warning" value="Ekle" />
    </div>
</form>

@section Scripts{

    <script>
        $(function () {
            $("#frm-add").submit(function(e) {
                e.preventDefault();
                var model = {
                    "categoryName": $("#CategoryName").val(),
                    "description": $("#Description").val()
                };
                console.log(model);
                $.ajax({
                    "headers": {
                        "Content-Type": "application/json;"
                    },
                    url: '@Url.Action("AddCategory","CategoryApi")',
                    type: "POST",
                    data: JSON.stringify(model),
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText);
                    }
                }).fail;

            });
        })
    </script>
}

