@model CategoryViewModel


<form asp-action="Create" asp-controller="Category" method="post" class="mt-3 w-75 mx-auto p-3 shadow ">
    <div class="form-group row">
        <input type="hidden" asp-for="CategoryID" />
        <div class="col-md-2">
            <label asp-for="CategoryName"></label><br /><br /><br />
            <label asp-for="Description"></label>
        </div>
        <div class="col-md-9">
            <input asp-for="CategoryName" /> <br />
            <span asp-validation-for="CategoryName" style="color:red"></span><br /><br />
            <input asp-for="Description" /> <br />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" name="Update" class="btn btn-warning" value="Güncelle" />
    </div>

</form>

