@model ProductViewModel

<form asp-controller="Product" asp-action="Create" method="post">
    <div class="container">
        <div class="row">
            <table class="table-bordered text-center">

                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Kategori Adı</th>
                        <th>Tedarikçisi</th>
                        <th>Birim Fiyatı</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr>
                        <td><input asp-for="ProductName" class="form-control" /></td>
                        <td><select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-control"></select></td>
                        <td><select asp-for="SupplierId" asp-items="ViewBag.SupplierList" class="form-control"></select></td>
                        <td><input asp-for="UnitPrice" class="form-control" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <input type="submit" value="Ekle" class="btn btn-success" />
        </div>
    </div>
</form>