@model ProductViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 style="text-align:center">Product Detail</h2>

<form asp-controller="Product" asp-action="Update" method="post">
    <input type="submit" value="Güncelle" class="btn btn-warning" /><br /><br />
    <div class="container">
        <div class="row">
            <input asp-for="ProductId" type="hidden" />
            <table class="table-bordered text-center">

                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Kategori Adı</th>
                        <th>Tedarikçisi</th>
                        <th> Birim Fiyatı </th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr>
                        <td><input asp-for="ProductName" class="form-control" /></td>
                        <td><select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-control"></select></td>
                        <td><select asp-for="SupplierId" asp-items="ViewBag.SupplierList" class="form-control"></select></td>
                        <td><input asp-for="UnitPrice" class="form-control" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="row">
            <div class="col-2">

            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a asp-controller="Product" asp-action="Index" asp-route-id="@Model.CategoryId" class="btn btn-danger">Product Geri Dön</a>

            </div>
            <div class="col-4">
                <a asp-controller="Category" asp-action="Detail" asp-route-id="@Model.CategoryId" class="btn btn-danger">Category Geri Dön</a>
            </div>
        </div>

    </div>
</form>
